.logo {
  font-family: "Raleway", sans-serif;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: #fff;
  color: #2e2f42;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}
.navigation .link {
  color: #2e2f42;
}

.navigation .link:hover {
  color: #404bbf;
}

.main-header {
  background-color: #2e2f42;
  color: #fff;
  text-align: center;
}

footer {
  background-color: #2e2f42;
  color: #fff;
}

.address-links .link {
  color: #434455;
}

.address-links .link:hover {
  color: #404bbf;
}

.order {
  background-color: #4d5ae5;
  color: #fff;
}
.order:hover {
  background-color: #404bbf;
}

.team {
  background-color: #f4f4fd;
}

.member {
  border-radius: 0px 0px 4px 4px;
  background-color: #fff;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  box-sizing: border-box;
  gap: 32px;
}
